@using System.Security.Claims
@using System.Threading.Tasks
@using EnterpriseApplication.Auth
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<ApplicationUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/content/site.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Pie Shop</a>
                    </li>
                    <li>
                        <a asp-controller="FeedBack" asp-action="Index" class="navbar-brand">Feedback</a>
                    </li>
                    <li>
                        <a asp-controller="Contact" asp-action="Index" class="navbar-brand">Contact Us </a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @await Component.InvokeAsync("AdminMenu")
                    }
                    @*<li>
                        <a asp-controller="Admin" asp-action="UserManagement" class="navbar-brand">Admin </a>
                    </li>*@

                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
