@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Contact Kinger's Pie Shop</h2>
<p>If you have any questions, please don't hesitate to get in touch. Click below to send us an email.</p>
<email address="dhruvkinger813@gmail.com" content="Contact us"></email>
